#baby-move {
    position: relative;
    background-image: url('../images/servicos/banner-babymove.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    padding-bottom: 16.5em!important;
    width: 100%;
    display: flex;


    .texto-babymove {
        padding-top: 18em;
        padding-left: 25em;
            
        h1{
            color: #2adae6;
            font-size: 69px;
        }

            
        p {
            font-size: 15px;
            max-width: 580px;
            text-align: justify;
        }
    }
}
@media screen and (max-width: 1680px){
    #baby-move{
        padding-bottom: 8em!important;

        .texto-babymove {
            padding-top: 18em!important;
            padding-left: 3em!important;

            p {
                max-width: 380px!important;
            }
                
        }
    }
 
}

@media screen and (max-width: 992px){
    #baby-move{
        padding-bottom: 0!important;
        
        .texto-babymove {
            padding-left: 1.5em!important;
            padding-top: 21em!important;
        
            h1{
                padding-top: 2.4em!important;
                font-size: 30px!important;
            }
                
            p {
                font-weight: bold!important;
                max-width: 315px!important;
            }
        }
    }
}