#banner-beneficios{
    position: relative;
    background-image:url('../images/beneficios/banner.jpg') ;
    background-repeat: no-repeat;
    background-position: top right;
    padding-bottom: 21em!important;
    overflow: hidden;
    max-width: 100%;


    .texto-banner-beneficios{
        display: inline-flex;
        padding-left: 16.8em;
        padding-top: 22em;
        h1{
            color: #2adae6;
            font-size: 32px;
            font-weight: 100;
            line-height: 44px;
        }
    }
}

#blue-beneficios{
    background: #2adae6;
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .col-md-12{
        justify-content: center;
        padding-top: 13.3125em;
        padding-bottom: 10.3125em;
        padding-left: 9em;
        padding-right: 9em;
    }

    p{
        text-align: justify;
        color: #ffffff;
        font-size: 17px;
        padding-bottom: 3em;
    }
}

#branco-beneficios{
    width: 100%;
    display: flex;
    padding-top: 6.125em;
    padding-bottom: 13.125em;

    .texto-h1{
        font-size: 54px;
        padding-left: 5em;
        
        h1{
            line-height: 100%;
        }
    }

    .texto-branco-beneficios{
        font-size: 14px;
        padding-left: 2em;
        padding-right: 23em;
        text-align: justify;
        padding-top: 6.5em;
        
        p{
            padding-bottom: 1em;
        }
    }
}


@media screen and (max-width: 1680px){  
    #banner-beneficios{
        padding-bottom: 22em!important;

        .texto-banner-beneficios{
            padding-left: 2.0em!important;
            padding-top: 15em!important;
        }
    }
    #branco-beneficios{
        .texto-h1{
            padding-left: 2em;
        }

        .texto-branco-beneficios{
            padding-right: 2em!important;
            padding-left: 8em!important;
        }
    }
}

@media screen and (max-width: 992px){

    #banner-beneficios{
        background-image:url('../images/beneficios/banner-mobile.jpg')!important;
        padding-bottom: 21.8em!important;
        
        .texto-banner-beneficios{
            padding-top: 6em!important;
            padding-left: 2em!important;
            h1{
                font-size: 14px!important;
                line-height: 180%;
            }
        }
    }


    #blue-beneficios{
    
        .col-md-12{
            justify-content: center;
            padding-top: 4.3125em!important;
            padding-bottom: 1.3125em!important;
            padding-left: 2em!important;
            padding-right: 0!important;
        }
    
        p{
            font-size: 14px!important;
            padding-bottom: 3em!important;
            text-align: left!important;
        }
    }

    #branco-beneficios{
        padding-top: 1.125em!important;
        padding-bottom: 2.125em!important;
    
        .texto-h1{
            font-size: 30px!important;
            padding-left: 1em!important;
            
            h1{
                line-height: 100%;
            }
        }
    
        .texto-branco-beneficios{
            padding-left: 2em!important;
            padding-right: 0!important;
            padding-top: 0!important;
            text-align: left!important;
        }
    }
    
}