header{
    position: relative;
    width: 100%;

    .banner-beneficios{
        position: relative;
        background-image:url('../images/beneficios/banner.png') ;
        background-repeat: no-repeat;
        background-position: top right;
        display: flex;
        overflow: hidden;
        width: 100%;

    }
    

        .contorno-beneficios{
            width: 100%;
            padding-top: 4.5em;
            max-width: 46%;
        }

        .texto-banner-beneficios{
            display: inline-flex;
            padding-left: 16.8em;
            padding-bottom: 2em;
            h1{
                color: #2adae6;
                font-size: 36px;
                font-weight: normal;
            }
        } 
}

#blue-beneficios{
    background: #2adae6;
    display: flex;
    width: 100%;

    .col-md-12{
        justify-content: center;
        padding-top: 13.3125em;
        padding-bottom: 10.3125em;
        padding-left: 9em;
        padding-right: 9em;
    }

    p{
        text-align: justify;
        color: #ffffff;
        font-size: 17px;
        padding-bottom: 3em;
    }
}

#branco-beneficios{
    width: 100%;
    display: flex;
    padding-top: 6.125em;
    padding-bottom: 13.125em;

    .texto-h1{
        font-size: 54px;
        padding-left: 5em;
        
        h1{
            line-height: 100%;
        }
    }

    .texto-branco-beneficios{
        font-size: 14px;
        padding-left: 2em;
        padding-right: 23em;
        text-align: justify;
        padding-top: 6.5em;
        
        p{
            padding-bottom: 1em;
        }
    }
}


@media screen and (max-width: 1367px){
    header{

        .navegacao{
            .navbar-text{
                padding-right: 0!important;
            }

            .menu{
                padding-left: 2.312em!important;
            }

            .nav-link{
                padding-left: 1em!important;
            }
            
            .texto-banner-beneficios{
                padding-left: 5em;
                padding-bottom: 10em;
            }
        }
        .contorno-beneficios{
            padding-top: 0!important;
            max-width: 50%!important;
        }
    }

    #branco-beneficios{
        .texto-h1{
            padding-left: 2em;
        }

        .texto-branco-beneficios{
            padding-right: 5em!important;
            padding-left: 5em;
        }
    }
}

@media screen and (max-width: 992px){
    header{

        .banner-beneficios{
            padding-bottom: 12.4em!important;
        }

        .navegacao{
            position: relative!important;
            display: block!important;
            width: 100%!important;
            
            .menu{
                padding-left: 1.312em!important;
            }
            .navbar{
                position: absolute;
                padding-left: 1.4em!important;
                z-index: 2!important;
                overflow: hidden!important;
            }

            .navbar-nav{
                .nav-link{
                    padding-top: 0.5em!important;
                }
            }
            .navbar-text{
                position: absolute!important;
                padding-top: 0!important;
                padding-left: 1.4em!important;
                right: 0;
                z-index: 4!important;
            }

            .contorno-beneficios{
                display: none!important;
            }
            
            .texto-banner-beneficios{
                padding-top: 26em!important;
                padding-left: 2em!important;
                h1{
                    font-size: 20px!important;
                }
            }
        }
    }

    #blue-beneficios{
    
        .col-md-12{
            justify-content: center;
            padding-top: 8.3125em!important;
            padding-bottom: 6.3125em!important;
            padding-left: 2em!important;
            padding-right: 0!important;
        }
    
        p{
            font-size: 14px!important;
            padding-bottom: 3em!important;
        }
    }

    #branco-beneficios{
        padding-top: 3.125em!important;
        padding-bottom: 10.125em!important;
    
        .texto-h1{
            font-size: 26px!important;
            padding-left: 1em!important;
            
            h1{
                line-height: 100%;
            }
        }
    
        .texto-branco-beneficios{
            padding-left: 2em!important;
            padding-right: 0!important;
            padding-top: 0!important;

        }
    }
    
}