#banner-fundadora{
    position: relative;
    background-image:url('../images/fundadora/banner.jpg') ;
    background-repeat: no-repeat;
    background-position: top right;
    overflow: hidden;
    padding-bottom: 19em!important;
    max-width: 100%;

    .texto-banner-fundadora{
        display: inline-block;
        padding-left: 29.25em;
        padding-top: 20.3125em;
        text-align: justify;
        padding-right: 1em;
        

        h1{
            color: #2adae6;
            font-size: 72px;
            font-weight: normal;
        }

        p{
            font-size: 14px;
            line-height: 180%;
        }
    } 
}

#blue-fundadora{
    background: #2adae6;
    display: flex;
    width: 100%;

    .col-md-12{
        justify-content: center;
        padding-top: 8.3125em;
        padding-bottom: 4.3125em;
        padding-left: 9em;
        padding-right: 9em;
    }

    p{
        text-align: justify;
        color: #ffffff;
        font-size: 17px;
        padding-bottom: 3em;
        padding-left: 15em;
        padding-right: 15em;
    }
}

#branco{
    position: relative;
    width: 100%;
    background: #ffffff;
    padding-bottom: 3em!important;
    padding-top: 3em!important;
    display: flex;

    .col-md-12{
        align-items: center;

        .menu{
            padding-left: 4.312em;
    
            td{
                border: 1px solid #2adae6;
                color: #2adae6;
                padding: 7px 14px;
                padding-top: 4px;
            }
        }
    
        .icons{
           justify-content: flex-end; 

           img{
               margin-left: 17px;
           }
        }
    }
}

@media screen and (max-width: 1680px){
    #banner-fundadora{
        .texto-banner-fundadora{
            padding-left: 9.25em!important;
            padding-right: 0!important;
        } 
    }

    #blue-fundadora{
    
        p{
            padding-left: 8em!important;
            padding-right: 8em!important;
        }
    }

}

@media screen and (max-width: 992px){

    #banner-fundadora{
        background-image: url('../images/fundadora/banner-mobile.jpg')!important;
        padding-bottom: 2.5em!important;

        .texto-banner-fundadora{
            padding-left: 2.25em!important;
            padding-top: 27.3125em!important;
            h1{
                font-size: 30px!important;
            }

            p{
                font-size: 12px;
                text-align: left!important;
            }
        } 
    }

    #blue-fundadora{

        .col-md-12{
            padding-left: 2em!important;
            padding-right: 0em!important;
            padding-top: 4.3125em!important;
        }
    
        p{
            padding-left: 0em!important;
            padding-right: 0em!important;
            font-size: 14px!important;
            padding-bottom: 1em!important;
            text-align: left!important;
        }
    }
}