body{
    font-family: 'Roihu';
    margin: 0 auto;
}

header{
    position: relative;
    width: 100%;

    .banner{
        position: relative;
        background-image:url('../images/home/banner-home.jpg') ;
        padding-bottom: 21.8em!important;
        background-repeat: no-repeat;
        background-position: top center;
        display: flex;
        overflow: hidden;
        width: 100%;

        }

        .navegacao{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
    
            .menu{
                padding-top: 2.925em;
                padding-left: 4.312em;
    
        
                td{
                    border: 1px solid #2adae6;
                    color: #2adae6;
                    padding: 7px 14px;
                    padding-top: 4px;
                 
                }
            }
        
            .navbar-toggler{
                border: 1px solid #2adae6;
        
                .navbar-toggler-icon{
                    display: block;
                    width: 30px;
                    height: 2px;
                    background-color: #2adae6;
                    margin: 6px 0;
                }
            }
            .navbar{
                .dropdown-menu.show{
                    margin-left: 0.7em;
                    border-radius: 0px;
                    background: #2adae6;
                    min-width: 19em;

                    .dropdown-item{
                        color: #ffffff;
                    }

                    .dropdown-item:hover, .dropdown-item:focus{
                        background-color: transparent;
                    }
                }
            }

            .navbar-nav{
        
                .nav-link{
                    color: #2adae6;
                    font-size: 16.97px;
                    padding-top: 3.125em;
                    padding-left: 2.125em;

                }

            }
        
            .navbar-text{
                padding-top: 3em;
                padding-right: 6.875em;
                letter-spacing: 15px; 
            }
    

        .contorno{
            position: absolute;
            width: 100%;
            top: 13em;
            left: 0;
            animation: contorno 1.5s ease 0s normal;
            transition: all .2s ease;

            @keyframes contorno {
                0%{
                    transform: sclaleX(0);
                    left: -120em;
                }
                50%{
                    transform: sclaleX(0.7);
                }
                100%{
                    transform: scaleX(1.0);
                }
            }
        }

        .texto-banner{
            display: flex;
            justify-content: flex-end;
            padding-right: 270px;
            padding-top: 23em;

            h1{
                color: #2adae6;
                font-size: 52px;
                font-weight: normal;
            }
        }
    }    
    .active{
        font-weight: bold;
    }
}

#blue{
    background: #2adae6;
    display: flex;
    width: 100%;

    .col-md-12{
        justify-content: center;
        text-align: center;
        padding-top: 20.3125em;
        padding-bottom: 20.3125em;
    }

    p{
        color: #ffffff;
        font-size: 23px;
    }
}

#branco{
    position: relative;
    background-image:url('../images/home/img1.png') ;
    margin-top:  5em;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;

    .col-md-12{
        display: inline-flex;
        justify-content: center;
        line-height: 200%;
        .texto-branco{
            padding-left: 60.25em;
            padding-right: 10em;
            padding-top: 11em;
            color: #000000;
            font-size: 18px;
            text-align: justify;
        }
    }

    .paragra2{
        text-align: center;
        padding-top: 22em;
        display: inline-flex;
        padding-bottom: 5em;
        

        p{
            color: #000000;
            font-size: 18px;
            padding-bottom: 2em;
            padding-left: 6.5em;
            padding-right: 6.5em;
            
            .texto-blue{
                font-size: 24px;
                color: #2adae6;
                font-weight: bold;
                margin-bottom: 2em;
            }

            span{
                font-size: 14px;
                letter-spacing: 2.5px;
            }
        }

    }
}

footer{
    position: relative;
    width: 100%;
    background: #2adae6;
    padding-bottom: 3.3125em;
    padding-top: 3.3125em;
    display: flex;

    .col-md-12{
        align-items: center;

        .menu{
            padding-left: 4.312em;
    
            td{
                border: 1px solid #ffffff;
                color: #ffffff;
                padding: 7px 14px;
                padding-top: 4px;
            }
        }
    
        .icons{
           justify-content: flex-end; 

           img{
               margin-left: 17px;
           }
        }
    }
}

@media screen and (max-width: 1680px){
    header{
        .navegacao{
            .navbar-text{
                padding-right: 0!important;
            }

            .menu{
                padding-left: 2.312em!important;
            }

            .nav-link{
                padding-left: 1em!important;
            }
            
            .texto-banner{
                padding-right: 0;
            }
        }
        .contorno{
            top: 12em!important;
            left: -18em!important;
            width: 50%!important;
        }
    }

    #branco{
        .texto-branco{
            padding-left: 30.25em!important;
            padding-right: 4em!important;
        }

        .paragra2{
            padding-top: 25em!important;
        }
    }   
}

@media screen and (max-width: 992px){
    header{

        .banner{
            padding-bottom: 25.7em!important;
        }

        .navegacao{
            position: relative!important;
            display: block!important;
            width: 100%!important;
            
            .menu{
                padding-left: 1.312em!important;
            }
            .navbar{
                position: absolute;
                padding-left: 1.4em!important;
                z-index: 2!important;
                overflow: hidden!important;
            }

            .navbar-nav{
                .nav-link{
                    padding-top: 0.5em!important;
                }
            }
            .navbar-text{
                position: absolute!important;
                padding-top: 0!important;
                padding-left: 1.4em!important;
                right: 0;
                z-index: 4!important;
            }

            .contorno{
                display: none;
            }
            
            .texto-banner{
                h1{
                    padding-top:1em!important;
                    font-size: 30px!important;
                }
            }
        }
    }

    #blue{
        .col-md-12{
            padding-top: 8.3125em!important;
            padding-bottom: 8.3125em!important;

            p{
                padding-left: 2em!important;
                font-size: 14px!important;
            }
        }
    }

    #branco{
        opacity: 0.9!important;
        .texto-branco{
            padding-left: 2em!important;
            padding-right: 0!important;
            font-size: 14px!important;
            padding-top: 15em!important;
        }

        .paragra2{
            padding-top: 12em!important;
            padding-left: 2em!important;
           
            p{
                font-size: 14px!important;
                padding-left: 0!important;
                padding-right: 0!important;
                line-height: 180%!important;

                .texto-blue{
                    font-size: 16px!important;
                }

                span{
                    font-size:14px!important;
                }
            }
        }
    }

    footer{
        .row{
            flex-wrap: nowrap!important;
        }

        .menu{
            padding-left: 1.312em!important;
        }
    }

}