#banner-massagem {
    background-image: url('../images/servicos/banner-massagem.jpg');
    padding-bottom: 31em!important;
    background-repeat: no-repeat;
    max-width: 100%;

    .texto-massagem {
        position: relative;
        padding-top: 13.75em;

        h1{
            color: #2adae6;
            font-size: 69px;
        }

        p {
            font-size: 15px;
            max-width: 800px;
            text-align: justify;
        }
    }
}

@media screen and (max-width: 992px){
    #banner-massagem{
        background-image: url('../images/servicos/banner-massagem-mobile.jpg')!important;
        padding-bottom: 16em!important;

        .texto-massagem {
            padding-top: 5em!important;
            h1{
                font-size: 30px!important;
            }
            p{
                font-size: 10px!important;
                text-align: left!important;
            }
        }
    }
}