@font-face {
    font-family: 'Roihu';
    src: url('Roihu-Bold.woff2') format('woff2'),
        url('Roihu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roihu';
    src: url('Roihu-Regular.woff2') format('woff2'),
        url('Roihu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

